In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import re
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import re

In [24]:
PATH = 'C:/Users/davin/Downloads/'

cctv  = PATH + '서울시강서구불법주정차위반단속CCTV위치정보.csv'
illegal = PATH + '서울특별시 강서구_불법주정자 단속자료_20220318/서울특별시_강서구_불법주정차단속자료_20211231.csv'
post = PATH + '강서우편번호.csv'

In [5]:
cctv_df = pd.read_csv(cctv, encoding='cp949')
illegal_df = pd.read_csv(illegal, encoding='cp949')

In [7]:
cctv_df[['고정형CCTV지번주소']]

            고정형CCTV지번주소
0       서울 강서구 염창동 53-1
1              가양동 1497
2              가양동 1500
3      서울 강서구 염창동 254-2
4    서울 강서구 화곡동 1075-25
..                  ...
109    서울 강서구 염창동 95-10
110    서울 강서구 마곡동 749-8
111   서울 강서구 방화동 597-18
112    서울 강서구 화곡동 91-14
113   서울 강서구 등촌동 519-25

[114 rows x 1 columns]

In [14]:
for i in range(len(cctv_df)):
    if '서울' in cctv_df['고정형CCTV지번주소'][i]:
        cctv_df['고정형CCTV지번주소'][i] = cctv_df['고정형CCTV지번주소'][i].replace('서울', '')
    else:
        if '강서구' in cctv_df['고정형CCTV지번주소'][i]:
            cctv_df['고정형CCTV지번주소'][i] = cctv_df['고정형CCTV지번주소'][i].replace('강서구', '')
cctv_df[['고정형CCTV지번주소']]

<ipython-input-14-c2889c1d1e49>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cctv_df['고정형CCTV지번주소'][i] = cctv_df['고정형CCTV지번주소'][i].replace('강서구', '')

       고정형CCTV지번주소
0         염창동 53-1
1         가양동 1497
2         가양동 1500
3        염창동 254-2
4      화곡동 1075-25
..             ...
109      염창동 95-10
110      마곡동 749-8
111     방화동 597-18
112      화곡동 91-14
113     등촌동 519-25

[114 rows x 1 columns]

In [55]:
cctv_df['고정형CCTV지번주소']
sep_addr =[]
for i in range(len(cctv_df)):
    if '-' in cctv_df['고정형CCTV지번주소'][i] and ' ' in cctv_df['고정형CCTV지번주소'][i]:
        cctv_df['고정형CCTV지번주소'][i].replace('-', ' ')
        sep_addr.append(cctv_df['고정형CCTV지번주소'][i].split(' '))
    elif '-' in cctv_df['고정형CCTV지번주소'][i]:
        cctv_df['고정형CCTV지번주소'][i].replace('-', ' ')
    elif ' ' in cctv_df['고정형CCTV지번주소'][i]:
        sep_addr.append(cctv_df['고정형CCTV지번주소'][i].split(' '))

In [50]:
cctv_df['주소'] = sep_addr
cctv_df[['주소']]

                     주소
0       [, , 염창동, 53-1]
1           [가양동, 1497]
2           [가양동, 1500]
3      [, , 염창동, 254-2]
4    [, , 화곡동, 1075-25]
..                  ...
109    [, , 염창동, 95-10]
110    [, , 마곡동, 749-8]
111   [, , 방화동, 597-18]
112    [, , 화곡동, 91-14]
113   [, , 등촌동, 519-25]

[114 rows x 1 columns]

In [19]:
for i in range(len(illegal_df)):
    if '강서구' in illegal_df['단속장소'][i]:
        illegal_df['단속장소'][i] = illegal_df['단속장소'][i].replace('강서구', '')
illegal_df[['단속장소']]

               단속장소
0             강서로19
1        등촌로35길 123
2           강서로 218
3           1373 부근
4            하늘길 부근
...             ...
185685     공항동 1373
185686     양천로65길 7
185687     공항동 1373
185688     공항동 1373
185689    화곡로46길 20

[185690 rows x 1 columns]

In [25]:
post_df = pd.read_csv(post, encoding='cp949')
post_df[['우편번호', '도로명', '행정동명', '지번본번','지번부번']]

       우편번호       도로명 행정동명  지번본번  지번부번
0      7573       양천로  가양동   109     1
1      7522   양천로47나길  가양동   242     3
2      7523   양천로47가길  가양동   272     2
3      7522    양천로49길  가양동   242     3
4      7522   양천로47나길  가양동   242     2
...     ...       ...  ...   ...   ...
22415  7720  가로공원로89길  화곡동   400    96
22416  7687   화곡로53가길  화곡동   986    24
22417  7783     강서로8길  화곡동   847     8
22418  7748   곰달래로47길  화곡동   866    24
22419  7775      곰달래로  화곡동   921     6

[22420 rows x 5 columns]

In [38]:
for i in range(len(post_df)):
    if '1373' in post_df['도로명'][i]:
        print(post_df['우편번호'][i])
    else:
        if '1373' in post_df['지번본번'][i]:
            print(post_df['우편번호'][i])

TypeError: argument of type 'numpy.int64' is not iterable